/* blue glass-look buttons */

.buttons, .buttons:active {
  display: inline-block;
  margin: 4px;
  background: -moz-linear-gradient(top, #70b6f2, #448ed4 50%, #1a62db 51%, #3f8de1);
  -moz-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #448ed4;
  color: white;
  padding: 1px 8px;
  font-weight: bold;
  font-size: 0.9em;
  text-decoration: none;
  text-shadow: rgba(0,0,0,.4) 0 -1px 0;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.buttons:hover {
  background: -moz-linear-gradient(top, #90d6ff, #64aef4 50%, #3a82fb 51%, #5fadff);
  text-shadow: none;
}

.buttons:focus {
  outline: none;
  color: white;
}

.buttons a {
  outline: none;
}