body {
  font: .75em Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 2.2em 0 0 0;
  overflow: hidden;
  background: -moz-linear-gradient(top left, #eeeeee, #cccccc) fixed;
  color: black;
  border: 1px solid #bbbbbb;
}

#header-wrap {
  position: fixed;
  top: 0;
  width: 100%;
}

#header {
  height: 2.2em;
  width: 100%;
  margin: 0 auto;
  position: relative;
  border-color: black;
  border-bottom: 1px solid;
  background: #bbbbbb;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

#content{
  height: 100%;
  overflow: auto;
 }

.extramargin {
  padding-left: 30px;
}

.box {
  width: 86%;
  display: block;
  padding: 4px;
  margin: 10px 0 10px 6px;
  border-width: 2px;
  border-style: solid;
  border-radius: 7px;
  -moz-border-radius: 7px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.current {
  background: #ffcccc;
  border-color: #b00000;
}

.newer {
  background: #ccccff;
  border-color: #0000b0;
  margin-left: 26px;
}

.older {
  background: #ccffcc;
  border-color: #00a000;
  margin-left: 26px;
}

.buttonrow {
  padding-top: 3px;
}

.datarow {
  clear: both;
}

.field {
  float: left;
  width: 6.5em;
  text-align: right;
  font-weight: bold;
  color: #606060;
}

.place {
  float: left;
  width: 4em;
  text-align: right;
  font-weight: bold;
  color: #606060;
}

.value {
  overflow: hidden;
  padding-left: 6px;
  /*white-space:nowrap;*/
}

.fuzzyage {
  overflow: hidden;
  padding-left: 10px;
}

.datetime {
  padding-bottom: 2px;
  font-style: italic;
  font-weight: bold;
}